
<!DOCTYPE html>
<html>
<head>
    <!-- Edit samples/settings.py and add APP_NAME = 'DJ4E Samples' or similar -->
    <title></title>

    <meta name="dj4e" content="e3fc72518f213ad1f39ed9306da322b0"> 

    <meta name="dj4e-code" content="42162631057962">

<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
   crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  crossorigin="anonymous"></script>

<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/v4-shims.css">

<meta name="dj4e-version" content="2020-04">

</head>
<body>
 
<div class="container">
    
  <h1>Breeds List</h1>
  {% if breeds|length > 0 %}

  <ul>
  {% for i in breeds %}  
      <li>
          {{i.Name}}
         (<a href="/cats/lookup/{{i.id}}/update">Update</a> |
          <a href="/cats/lookup/{{i.id}}/delete">Delete</a>)
      </li>
    {% endfor %}
  </ul>
  
  <p><a href="/cats/lookup/create">Add a breed</a></p>
  <p>
  <a href="/cats">Back to cats </a>
  </p>
  {% else %}
  <p>There are no breeds in the library.</p>


  {% endif %}

</div>
</body>
</html>
